
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <!-- end: GOOGLE FONTS -->
    <!-- start: MAIN CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/perfect-scrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/css/switchery.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="~/Content/css/ladda.min.css" rel="stylesheet" />
    <link href="~/Content/css/slick.css" rel="stylesheet" />
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: Packet CSS -->
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/plugins.css" rel="stylesheet" />
    <link href="~/Content/css/themes/lyt1-theme-1.css" rel="stylesheet" id="skin_color" />
    <!-- end: Packet CSS -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />
</head>
<body>
    <div id="app">
        <!-- sidebar -->
        <div class="sidebar app-aside" id="sidebar">
            <div class="sidebar-container perfect-scrollbar">
                <div>
                    <!-- start: SEARCH FORM -->
                    <div class="search-form hidden-md hidden-lg">
                        <a class="s-open" href="#"> <i class="ti-search"></i> </a>
                        <form class="navbar-form" role="search">
                            <a class="s-remove" href="#" target=".navbar-form"> <i class="ti-close"></i> </a>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter search text here...">
                                <button class="btn search-button" type="submit">
                                    <i class="ti-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- end: SEARCH FORM -->
                    <!-- start: USER OPTIONS -->
                    <div class="nav-user-wrapper">
                        <div class="media">
                            <div class="media-left">
                                <a class="profile-card-photo" href="#">
                                    <img src="~/Content/images/avatar-1.jpg" /></a>
                            </div>
                            <div class="media-body">
                                <span class="media-heading text-white">Peter Clark</span>
                                <div class="text-small text-white-transparent">
                                    UI Designer
                                </div>
                            </div>
                            <div class="media-right media-middle">
                                <div class="dropdown">
                                    <button href class="btn btn-transparent text-white dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu animated fadeInRight pull-right">
                                        <li>
                                            <a href="#"> My Profile </a>
                                        </li>
                                        <li>
                                            <a href="#"> My Calendar </a>
                                        </li>
                                        <li>
                                            <a href="#"> My Messages (3) </a>
                                        </li>
                                        <li>
                                            <a href="#"> Lock Screen </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#"> Log Out </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: USER OPTIONS -->
                    <nav>
                        <!-- start: MAIN NAVIGATION MENU -->
                        <div class="navbar-title">
                            <span>Main Navigation</span>
                        </div>
                        <ul class="main-navigation-menu">
                            <li class="active open">
                                <a href="index.html">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="Dashboard" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Dashboard </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="Page Layouts" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Page Layouts </span><i class="icon-arrow"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="page_layouts_fixed_header.html"> <span class="title"> Fixed Header </span> </a>
                                    </li>
                                    <li>
                                        <a href="page_layouts_fixed_sidebar.html"> <span class="title"> Fixed Sidebar </span> </a>
                                    </li>
                                    <li>
                                        <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> Fixed Header &amp; Sidebar </span> </a>
                                    </li>
                                    <li>
                                        <a href="page_layouts_fixed_footer.html"> <span class="title"> Fixed Footer </span> </a>
                                    </li>
                                    <li>
                                        <a href="page_layouts_boxed_page.html"> <span class="title"> Boxed Page </span> </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="layouts.html">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="Layouts" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Layouts </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="UI Elements" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> UI Elements </span><i class="icon-arrow"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="ui_elements.html"> <span class="title"> Elements </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_buttons.html"> <span class="title"> Buttons </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_links.html"> <span class="title"> Link Effects </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_icons.html"> <span class="title"> Font Awesome Icons </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_line_icons.html"> <span class="title"> Linear Icons </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_letter_icons.html"> <span class="title"> Letter Icons </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_modals.html"> <span class="title"> Modals </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_toggle.html"> <span class="title"> Toggle </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_tabs_accordions.html"> <span class="title"> Tabs &amp; Accordions </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_panels.html"> <span class="title"> Panels </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_notifications.html"> <span class="title"> Notifications </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_sliders.html"> <span class="title"> Sliders </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_knob.html"> <span class="title"> Knob component </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_treeview.html"> <span class="title"> TreeView </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_media.html"> <span class="title"> Media </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_nestable.html"> <span class="title"> Nestable List </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_typography.html"> <span class="title"> Typography </span> </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="Tables" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Tables </span><i class="icon-arrow"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="table_basic.html"> <span class="title">Basic Tables</span> </a>
                                    </li>
                                    <li>
                                        <a href="table_responsive.html"> <span class="title">Responsive Tables</span> </a>
                                    </li>
                                    <li>
                                        <a href="table_data.html"> <span class="title">Advanced Data Tables</span> </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="Forms" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Forms </span><i class="icon-arrow"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="form_elements.html"> <span class="title">Form Elements</span> </a>
                                    </li>
                                    <li>
                                        <a href="form_pickers.html"> <span class="title">Pickers</span> </a>
                                    </li>
                                    <li>
                                        <a href="form_text_editor.html"> <span class="title">Text Editor</span> </a>
                                    </li>
                                    <li>
                                        <a href="form_wizard.html"> <span class="title">Form Wizard</span> </a>
                                    </li>
                                    <li>
                                        <a href="form_validation.html"> <span class="title">Form Validation</span> </a>
                                    </li>
                                    <li>
                                        <a href="form_image_cropping.html"> <span class="title">Image Cropping</span> </a>
                                    </li>
                                    <li>
                                        <a href="form_multiple_upload.html"> <span class="title">Multiple File Upload</span> </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="Login" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Login </span><i class="icon-arrow"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="login_signin.html"> <span class="title"> Login Form </span> </a>
                                    </li>
                                    <li>
                                        <a href="login_registration.html"> <span class="title"> Registration Form </span> </a>
                                    </li>
                                    <li>
                                        <a href="login_forgot.html"> <span class="title"> Forgot Password Form </span> </a>
                                    </li>
                                    <li>
                                        <a href="login_lockscreen.html"> <span class="title">Lock Screen</span> </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="Pages" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Pages </span><i class="icon-arrow"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="pages_user_profile.html"> <span class="title">User Profile</span> </a>
                                    </li>
                                    <li>
                                        <a href="pages_invoice.html"> <span class="title">Invoice</span> </a>
                                    </li>
                                    <li>
                                        <a href="pages_timeline.html"> <span class="title">Timeline</span> </a>
                                    </li>
                                    <li>
                                        <a href="pages_calendar.html"> <span class="title">Calendar</span> </a>
                                    </li>
                                    <li>
                                        <a href="pages_messages.html"> <span class="title">Messages</span> </a>
                                    </li>
                                    <li>
                                        <a href="pages_blank_page.html"> <span class="title">Blank Page</span> </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="Utilities" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Utilities </span><i class="icon-arrow"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="utilities_search_result.html"> <span class="title">Search Results</span> </a>
                                    </li>
                                    <li>
                                        <a href="utilities_error_404.html"> <span class="title">Error 404</span> </a>
                                    </li>
                                    <li>
                                        <a href="utilities_error_500.html"> <span class="title">Error 500</span> </a>
                                    </li>
                                    <li>
                                        <a href="utilities_pricing_table.html"> <span class="title">Pricing Table</span> </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="4 Level Menu" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> 4 Level Menu </span><i class="icon-arrow"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:;"> <span>Item 1</span> <i class="icon-arrow"></i> </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="javascript:;"> <span>Sample Link 1</span> <i class="icon-arrow"></i> </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#"> Sample Link 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;"> <span>Sample Link 2</span> <i class="icon-arrow"></i> </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#"> Sample Link 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;"> <span>Sample Link 3</span> <i class="icon-arrow"></i> </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#"> Sample Link 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> <span>Item 2</span> <i class="icon-arrow"></i> </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="javascript:;"> <span>Sample Link 1</span> <i class="icon-arrow"></i> </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#"> Sample Link 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;"> <span>Sample Link 2</span> <i class="icon-arrow"></i> </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#"> Sample Link 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;"> <span>Sample Link 3</span> <i class="icon-arrow"></i> </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#"> Sample Link 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> <span>Item 3</span> <i class="icon-arrow"></i> </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="javascript:;"> <span>Sample Link 1</span> <i class="icon-arrow"></i> </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#"> Sample Link 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;"> <span>Sample Link 2</span> <i class="icon-arrow"></i> </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#"> Sample Link 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;"> <span>Sample Link 3</span> <i class="icon-arrow"></i> </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#"> Sample Link 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Sample Link 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="maps.html">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="Maps" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Maps </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="charts.html">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="Charts" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Charts </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- end: MAIN NAVIGATION MENU -->
                        <!-- start: CORE FEATURES -->
                        <div class="navbar-title">
                            <span>Core Features</span>
                        </div>
                        <ul class="folders">
                            <li>
                                <a href="landing_page.html">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="Landing Page" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Landing Page </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.cliptheme.com/demo/packet/Html-Admin/LAYOUT-1/RTL/">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <div class="lettericon" data-text="RTL" data-size="sm" data-char-count="2"></div>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> RTL Version </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- end: CORE FEATURES -->
                    </nav>
                </div>
            </div>
        </div>
        <!-- / sidebar -->
        <div class="app-content">
            <!-- start: TOP NAVBAR -->
            <header class="navbar navbar-default navbar-static-top">
                <!-- start: NAVBAR HEADER -->
                <div class="navbar-header">
                    <button href="#" class="sidebar-mobile-toggler pull-left btn no-radius hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")"> 
                        <img src="~/Content/images/logo.png" /></a>
                    <a class="navbar-brand navbar-brand-collapsed" href="@Url.Action("Index","Home")"> 
                        <img src="~/Content/images/logo.png" /> </a>

                    <button class="btn pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse" data-toggle-class="menu-open">
                        <i class="fa fa-folder closed-icon"></i><i class="fa fa-folder-open open-icon"></i><small><i class="fa fa-caret-down margin-left-5"></i></small>
                    </button>
                </div>
                <!-- end: NAVBAR HEADER -->
                <!-- start: NAVBAR COLLAPSE -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-left hidden-sm hidden-xs">
                        <li class="sidebar-toggler-wrapper">
                            <div>
                                <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="toggle-fullscreen"> <i class="fa fa-expand expand-off"></i><i class="fa fa-compress expand-on"></i></a>
                        </li>
                       
                    </ul>
                    <ul class="nav navbar-right">
                        <!-- start: LANGUAGE SWITCHER -->
                        <li class="dropdown">
                            <a href class="dropdown-toggle" data-toggle="dropdown"> <i class="flag-icon flag-icon-us"></i> English </a>
                            <ul role="menu" class="dropdown-menu dropdown-light fadeInUpShort">
                                <li>
                                    <a href="#" class="menu-toggler"> Deutsch </a>
                                </li>
                                <li>
                                    <a href="#" class="menu-toggler"> English </a>
                                </li>
                                <li>
                                    <a href="#" class="menu-toggler"> Italiano </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: LANGUAGE SWITCHER -->
                    </ul>
                    <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
                    <div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                        <div class="arrow-left"></div>
                        <div class="arrow-right"></div>
                    </div>
                    <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
                </div>
              
                <!-- end: NAVBAR COLLAPSE -->
            </header>
            <!-- end: TOP NAVBAR -->
            <div class="main-content">
                <div class="wrap-content container" id="container">
                    <!-- start: BREADCRUMB -->
                    <div class="breadcrumb-wrapper">
                        <h4 class="mainTitle no-margin">@ViewBag.ViewTitle</h4>
                        <span class="mainDescription">@ViewBag.ViewCategory </span>
                        <ul class="pull-right breadcrumb">
                            <li>
                                <a href="index.html"><i class="fa fa-home margin-right-5 text-large text-dark"></i>Home</a>
                            </li>
                            <li>
                                Dashboard
                            </li>
                        </ul>
                    </div>
                    <!-- end: BREADCRUMB -->
                    <!-- start: FEATURED BOX LINKS -->
                    <div class="container-fluid container-fullw padding-bottom-10">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                   @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: FEATURED BOX LINKS -->
                </div>
            </div>
        </div>
        <!-- start: FOOTER -->
        <footer>
            <div class="footer-inner">
                <div class="pull-left">
                    &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> <a href="https://www.freelancer.com/u/mostafaemad75.html">mostafaemad75</a></span>. <span>All rights reserved</span>
                </div>
                <div class="pull-right">
                    <span class="go-top"><i class="ti-angle-up"></i></span>
                </div>
            </div>
        </footer>
        <!-- end: FOOTER -->
    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>    
    <script src="~/scripts/modernizr.js"></script>
    <script src="~/scripts/js.cookie.js"></script>
    <script src="~/scripts/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/scripts/jquery.fullscreen-min.js"></script>
    <script src="~/scripts/switchery.min.js"></script>
    <script src="~/scripts/jquery.knob.min.js"></script>
    <script src="~/scripts/bootstrap-slider.min.js"></script>
    <script src="~/scripts/slick.min.js"></script>
    <script src="~/scripts/jquery-numerator.js"></script>
    <script src="~/scripts/spin.min.js"></script>
    <script src="~/scripts/ladda.jquery.min.js"></script>
    <script src="~/scripts/ladda.min.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
   
    <!-- start: Packet JAVASCRIPTS -->
    <script src="~/scripts/index.js"></script>
    <script src="~/scripts/letter-icons.js"></script>
    <script src="~/scripts/main.js"></script>
    <!-- end: Packet JAVASCRIPTS -->
    <!-- start: JavaScript Event Handlers for this page -->
    <script>
			jQuery(document).ready(function() {
				Main.init();
				Index.init();
			});
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
</body>
</html>
